@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500&display=swap");
/* importam fonturile Exo 2 cu grosimile 200,300,400,500 */
body {
  margin: 0;
  padding: 0;
  font-family: "Exo 2", sans-serif;
  background-color: #1a1919;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
header {
  color: rgb(48, 231, 24);
  height: fit-content;
}
.content {
  background: linear-gradient(
    90deg,
    rgba(102, 126, 234, 1) 30%,
    rgba(0, 158, 176, 1) 73%
  );
  display: flexbox;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 60%;
  height: fit-content;
  border-radius: 10px;
  margin-bottom: 20px;
}
.label {
  margin: 6px;
  font-size: 20px;
  font-weight: 500;
  color: rgb(15, 17, 15);
}
.input {
  margin: 6px;
}

.button {
  margin: 6px;
}
.button button {
  cursor: pointer;
  width: 80px;
}

.toDoList {
  background: linear-gradient(
    6deg,
    rgba(74, 0, 209, 1) 0%,
    rgba(22, 128, 179, 1) 98%
  );
  width: 58%;
  min-height: 80px;
  border: 2px double black;
  margin: auto;
  margin-bottom: 10px;
  overflow: auto;
  padding: 6px;
  text-align: center;
}
/* /////////////////////////////////////////////////////////// */

.note {
  background-color: rgba(53, 53, 53, 0.3);
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
}


.del {
  background-color: red;
  color: white;
  padding-bottom: 4px;
  width: 12px;
  cursor: pointer;
}
.contentNote {
  width: 90%;
  color: black;
  overflow: hidden;
  text-align: start;
  margin-left: 4px;
}
